%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2007-2017 Basho Technologies, Inc.
%% Copyright (c) 2019-2025 Workday, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------
{minimum_otp_vsn, "24.0"}.

{cover_enabled, false}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {src_dirs, ["src", "priv/tracers"]},
    {i, "_build/default/plugins/gpb/include"},
    %% ToDo: Clean these out
    {d, namespaced_types},
    {d, set_env_options}
    %% No longer relevant, here for eventual cleanup
    % {platform_define, "^R15", old_hash}
]}.

{erl_first_files, [
    "src/riak_kv_backend.erl"
]}.

{src_dirs, [
    "priv/tracers",
    "src"
]}.

{edoc_opts, [
    {preprocess, true},
    {includes, ["include", "_build/default/plugins/gpb/include"]},
    {report_missing_types, true}
]}.

{eunit_opts, [verbose, {report, {eunit_progress, [colored, profile]}}]}.

{xref_checks, [
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used,
    undefined_function_calls,
    undefined_functions
]}.

{xref_ignores, [
    riak_core_pb,   % Generated file
    gen_fsm         % Yeah, some day ...
]}.

{plugins, [{rebar3_gpb_plugin, {git, "https://github.com/OpenRiak/rebar3_gpb_plugin", {branch, "openriak-3.4"}}},
           {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {i, "src"}]}.

{dialyzer, [
    {plt_apps, all_deps},
    {warnings, [
        % error_handling,
        % unknown,
        % unmatched_returns
    ]}
]}.

{provider_hooks, [
                  {pre, [{compile, {protobuf, compile}}]}
                 ]}.

{profiles, [
    {test, [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}]},
    {eqc, [{deps, [{meck, {git, "https://github.com/OpenRiak/meck.git", {branch, "openriak-3.4"}}}]}, {extra_src_dirs, ["eqc"]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{deps, [
    {riak_core, {git, "https://github.com/OpenRiak/riak_core.git", {branch, "openriak-3.4"}}},
    {sidejob, {git, "https://github.com/OpenRiak/sidejob.git", {branch, "openriak-3.4"}}},
    {bitcask, {git, "https://github.com/OpenRiak/bitcask.git", {branch, "openriak-3.4"}}},
    {redbug, {git, "https://github.com/OpenRiak/redbug", {branch, "openriak-3.4"}}},
    {recon, {git, "https://github.com/OpenRiak/recon", {branch, "openriak-3.4"}}},
    {sext, {git, "https://github.com/OpenRiak/sext.git", {branch, "openriak-3.4"}}},
    {riak_pipe, {git, "https://github.com/OpenRiak/riak_pipe.git", {branch, "openriak-3.4"}}},
    {riak_dt, {git, "https://github.com/OpenRiak/riak_dt.git", {branch, "openriak-3.4"}}},
    {riak_pb, {git, "https://github.com/OpenRiak/riak_pb.git", {branch, "openriak-3.4"}}},
    {riak_api, {git, "https://github.com/OpenRiak/riak_api.git", {branch, "openriak-3.4"}}},
    {hyper, {git, "https://github.com/OpenRiak/hyper", {branch, "openriak-3.4"}}},
    {leveled, {git, "https://github.com/OpenRiak/leveled.git", {branch, "openriak-3.4"}}},
    {kv_index_tictactree, {git, "https://github.com/OpenRiak/kv_index_tictactree.git", {branch, "openriak-3.4"}}},
    {rhc, {git, "https://github.com/OpenRiak/riak-erlang-http-client", {branch, "openriak-3.4"}}}
]}.
