%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{deps,
 [{sidejob, "2.1.0"},
  {redbug, "2.0.7"},
  {recon, "2.5.2"},
  {sext, "1.8.0"},
  {riak_dt, {git, "https://github.com/basho/riak_dt.git", {branch, "develop"}}},
  {hyper, {git, "https://github.com/basho/hyper", {tag, "1.1.0"}}},
  {kv_index_tictactree, {git, "https://github.com/martinsumner/kv_index_tictactree.git", {branch, "develop-3.1"}}},
  {rhc, {git, "https://github.com/basho/riak-erlang-http-client", {branch, "develop-3.2-otp24"}}},
  {riakc, {git, "https://github.com/basho/riak-erlang-client", {branch, "develop-3.2-otp24"}}},

  %% deps with TS-specific changes, or required by TS
  {riak_core, {git, "https://github.com/TI-Tokyo/riak_core.git", {branch, "riak_ts-develop"}}},
  {riak_api, {git, "https://github.com/TI-Tokyo/riak_api.git", {branch, "riak_ts-develop"}}},
  {riak_pipe, {git, "https://github.com/TI-Tokyo/riak_pipe.git", {branch, "riak_ts-develop"}}},
  {riak_ql, {git, "https://github.com/TI-Tokyo/riak_ql.git", {branch, "develop"}}},
  {jam, {git, "https://github.com/TI-Tokyo/jam.git", {branch, "develop"}}},
  {msgpack, "0.7.0"}
 ]
}.

{project_plugins,
 [{rebar3_gpb_plugin, {git, "https://github.com/basho/rebar3_gpb_plugin", {tag, "2.15.1+riak.3.0.4"}}},
  {eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}
 ]
}.

{erl_first_files,
 ["src/riak_kv_backend.erl"]
}.

{provider_hooks,
 [{pre, [{compile, {protobuf, compile}}]}
 ]
}.

{erl_opts,
 [warnings_as_errors,
  {src_dirs, ["src", "priv/tracers"]},
  {i, "./_build/default/plugins/gpb/include"},
  {platform_define, "^23|^24|^25", 'OTP_23'},
  {platform_define, "^24|^25", 'OTP_24'},
  {platform_define, "^25", 'OTP_25'}
 ]
}.

{eunit_opts, [verbose]}.

{gpb_opts,
 [{module_name_suffix, "_pb"},
  {i, "src"}
 ]
}.

{cover_enabled, false}.

{dialyzer, [{plt_apps, all_deps}]}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used]}.
{xref_ignores, [riak_core_pb]}.

{profiles, [
    {test, [{deps, [meck, proper]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
